:root {
    --RED: #FF2145;
    --DARK-BLACK: #161C22;
    --BLACK: #22262A;
    --BLUE-BLACK: #262A32;
    --GRAY: #373B40;
    --SHADOW: rgba(55, 59, 64, 0.12);
    --SHADOW-DARK: rgba(55, 59, 64, 0.5);
    --OFF-WHITE: #e6e6e6;
    --FADED-RED: rgba(255, 33, 69, 0.3);
    --BLUE: rgba(0, 119, 182, 0.5);
}

@font-face {
    font-family: "made tommy";
    src: url(./Fonts//title.otf);
}

.space-bottom {
    margin-bottom: 4vh;
}